*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(19, 19, 110);
    color: aliceblue;
}
#search{
    padding-left: 0cm;
}
.head{
    background-color:#ff006e;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    padding: 15px;
    padding-left: 20cm;
}
.title{
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #ffffff;
    font-size: 2em;
    margin: 3cm;
    margin-bottom: 1cm;
    transform: translateY(-20px);
    animation: fadeInUp 1s forwards;
}
.title2{
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #ffffff;
    font-size:3cap;
    margin: 1cm;
    transform: translateY(-20px);
    animation: fadeInUp 1s forwards;
}
.title3{
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #ffffff;
    font-size:2cap;
    margin: 1cm;
    transform: translateY(-20px);
    animation: fadeInUp 1s forwards;
}
button{
    background-color: #3498db;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 10px;
    margin-left: 12px;
    border:none;
    border-radius: 8px;
    cursor: pointer;
}
a{
    background-color:#ff006e;
    margin: 7px; 
}   
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display:contents;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display:inline;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #108cf0;
  }